*{
    padding: 0;
    margin: 0;
    font-family: Helvetica, sans-serif;
}

body{
    overflow: hidden;
    background: rgb(23, 33, 43);
    color: whitesmoke;
}
.text_matter{
    position: absolute;
}
.box{
    padding: 0.5em 1em;
    width: 200px;
    border: 1px solid whitesmoke;
    display: block;
}
.title{
    font-size: 1em;
    margin: auto;
    text-align: center;
}
p{
    font-size: 12px;
}

.text{
    font-size: 14px;
}
.message{
    font-size: 1.5em;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.sub_box{
    padding: 0.5em 1em;
    visibility: hidden;
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%,-50%);

    border: 1px solid whitesmoke;
    display: block;
}